@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Montserrat&family=Noto+Sans+Mono:wght@400;700;800;900&family=Raleway:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.web {
  background-image: radial-gradient(
    circle,
    #ff6e4a,
    #f55e66,
    #e2567c,
    #c6558d,
    #a55896,
    #8b5a97,
    #715a93,
    #59598b,
    #475680,
    #3a5374,
    #324e66,
    #2f4858
  );
  overflow: hidden;
  height: 100vh;
  color: #fff;
}

#submit {
  margin: 15px;
  border: 0;
  box-shadow: 0px 3px 0px 0px #1b48c2;
  background-color: #4463c7;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 4px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #274866;
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
}
#submit:hover {
  background-color: #1fb6ca;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#submit:active {
  position: relative;
  box-shadow: 0px 1px 0px 0px #1b5ec2;
  top: 2px;
}

.logo {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 1.31rem;
  font-weight: 700;
  color: #fff;
  margin: 20px;
}
.top,
.middle,
.middle2,
.last {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.city {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
}

.day-data {
  font-family: "Georama", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date,
.month {
  margin-left: 10px;
}

.temp-container,
.condition,
.search,
.forecast,
section,
.logo,
body {
  display: flex;
  flex-direction: column;
}
.temp-container,
.condition,
.search {
  margin: 0 0 40px 0;
}
.last {
  margin: 30px 0 0 0;
}
.forecast {
  justify-content: center;
  align-items: center;
}

.day,
.temp,
.title,
.range,
input {
  font-family: "Raleway", sans-serif;
}
.temp {
  font-size: 8.12rem;
  font-weight: 700;
}

.line {
  border: #fff solid;
  border-radius: 10px;
  width: 14rem;
  height: 1px;
  margin: 0 10px;
}
.title {
  font-size: 2.5rem;
}
.condition .weather-icon {
  width: 2.5rem;
  height: auto;
}

.range {
  font-size: 1.5rem;
}

input {
  text-align: center;
  border: 1px solid #fff;
  border-radius: 32px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  width: 18.1rem;
  height: 2rem;
  color: #fff;
  font-weight: 700;
}

.forecast .weather-icon,
.forecast .day {
  width: 2.5rem;
  height: auto;
  text-align: center;
  margin: 0 20px;
  justify-content: center;
}

.week {
  flex-direction: row;
}
@keyframes yourAnimation {
  0.0% {
    transform: scale(1);
  }
  10.5% {
    transform: scale(1);
  }
  4.9% {
    transform: scale(1.2);
  }
}

/* ////////////////////////////////////////////////////////////// */

/* *
  ##Device
  =
  Desktops
  ##Screen
  =
  1281px
  to
  higher
  resolution
  desktops
  */
@media (min-width: 1281px) {
  /* CSS */
  .web {
    background-image: linear-gradient(
      to right,
      #ff6e4a,
      #f55e66,
      #e2567c,
      #c6558d,
      #a55896,
      #8b5a97,
      #715a93,
      #59598b,
      #475680,
      #3a5374,
      #324e66,
      #2f4858
    );
    overflow: hidden;
    height: 100vh;
    color: #fff;
  }
  .top,
  .last,
  .middle,
  .middle2 {
    flex-grow: 1;
    margin: 0;
  }
  .top {
    flex-direction: row;
  }
  .logo {
    justify-content: flex-start;
    width: 60%;
  }
  .period-container {
    justify-content: flex-end;
    margin-top: 2%;
  }
  .last,
  .middle,
  .middle2 {
    width: 30%;
  }
  .weather,
  .condition,
  .last,
  .middle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .temp {
    font-size: 4rem;
  }

  .line {
    width: 100%;
    margin: 0;
  }

  input {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 18rem;
  }
  .mapLocator {
    position: fixed;
    z-index: 10;
    left: 87%;
    top: 78%;
    height: 4%;
    width: 4%;
  }
  .mapLocator:hover {
    transform: scale(1.2);
  }

  .mapLocator:active {
    animation: yourAnimation 1s ease 0s infinite normal none;
  }

  #submit {
    width: 10rem;
  }

  #map {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    display: inline;
    position: fixed;
    z-index: 3;
    left: 30%;
    top: 20%;
    height: 70%;
    width: 65%;
    border-radius: 20px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */

  .top,
  .last,
  .middle,
  .middle2 {
    flex-grow: 1;
    margin: 0;
  }
  .top {
    flex-direction: row;
  }
  .logo {
    justify-content: flex-start;
    width: 60%;
  }
  .period-container {
    justify-content: flex-end;
    margin-top: 2%;
  }
  .last,
  .middle,
  .middle2 {
    width: 30%;
  }
  .weather,
  .condition,
  .last,
  .middle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .temp {
    font-size: 4rem;
  }

  .line {
    width: 100%;
    margin: 0;
  }

  input {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 18rem;
  }

  .mapLocator {
    position: fixed;
    z-index: 10;
    left: 87%;
    top: 78%;
    height: 4%;
    width: 4%;
  }
  .mapLocator:hover {
    transform: scale(1.2);
  }

  .mapLocator:active {
    animation: yourAnimation 1s ease 0s infinite normal none;
  }
  #submit {
    width: 8rem;
  }

  #map {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    display: inline;
    position: fixed;
    z-index: 3;
    left: 30%;
    top: 20%;
    height: 70%;
    width: 65%;
    border-radius: 20px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  * {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .condition,
  .forecast .weather-icon,
  section,
  .logo {
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
  }

  .top,
  .last,
  .middle,
  .middle2 {
    flex-grow: 1;
    margin: 0;
  }
  .city {
    font-size: 6rem;
  }
  .period-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .day-data {
    font-size: 3rem;
  }
  .temp {
    font-size: 6rem;
    font-weight: 700;
  }
  .line {
    border: #fff solid;
    border-radius: 10px;
    width: 18rem;
    height: 0.7px;
    margin: 0px;
  }
  .search {
    width: 20rem;
    height: 3rem;
    margin: 0 20px;
  }
  input {
    font-size: 2rem;
    margin: 0;
    width: 20rem;
    height: 3rem;
  }
  #map {
    display: none;
  }
  .mapLocator {
    display: none;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .top,
  .last,
  .middle,
  .middle2 {
    flex-grow: 1;
    margin: 0;
  }
  .top {
    flex-direction: row;
  }

  .logo {
    position: relative;
    right: 15%;
    bottom: 20%;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0;
    width: 60%;
  }
  .period-container {
    justify-content: flex-end;
    /* margin-top: 2%; */
  }
  .city {
    font-size: 3rem;
  }

  .last,
  .middle,
  .middle2 {
    width: 30%;
  }
  .weather,
  .condition,
  .last,
  .middle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .day-data {
    font-size: 2rem;
  }

  .temp {
    font-size: 4rem;
  }

  .line {
    width: 100%;
    margin: 0;
  }
  .search {
    margin: 0;
  }
  input {
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
    width: 18rem;
  }

  .mapLocator {
    display: inline;
    position: fixed;
    z-index: 10;
    left: 87%;
    top: 78%;
    height: 4%;
    width: 4%;
  }
  .mapLocator:hover {
    transform: scale(1.2);
  }

  .mapLocator:active {
    animation: yourAnimation 1s ease 0s infinite normal none;
  }
  #submit {
    width: 8rem;
  }

  #map {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    display: inline;
    position: fixed;
    z-index: 3;
    left: 30%;
    top: 20%;
    height: 70%;
    width: 65%;
    border-radius: 20px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  /* CSS */
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  * {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .condition,
  .forecast .weather-icon,
  section,
  .logo {
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
  }

  .top,
  .last,
  .middle,
  .middle2 {
    flex-grow: 1;
    margin: 0;
  }
  .city {
    font-size: 4rem;
  }
  .period-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .day-data {
    font-size: 2rem;
  }
  .temp {
    font-size: 6rem;
    font-weight: 700;
  }
  .line {
    border: #fff solid;
    border-radius: 10px;
    width: 18rem;
    height: 0.7px;
    margin: 0px;
  }
  .search {
    width: 20rem;
    height: 3rem;
    margin: 0 20px;
  }
  input {
    font-size: 2rem;
    margin: 0;
    width: 20rem;
    height: 3rem;
  }
  #map {
    display: none;
  }
  .mapLocator {
    display: none;
  }
}
